*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

input {
  height: 2.5rem;
  width: 100%;
  max-width: 500px;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  padding: 0 1rem;
  border: none;
}

input:focus-visible {
  outline: none;
}

input:hover {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  width: 3.5rem;
  background-color: hsl(0, 0%, 0%);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  background-image: url("./images/icon-arrow.svg");
  background-size: 1rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: 1.5rem;
}

.submit-arrow {
  height: 1.6rem;
  width: 1.6rem;
}

.main__header {
  background: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main__search-results {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: hsl(0, 0%, 100%);
  z-index: 2;
}

.main__search-result-input {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-inline: auto;
}

.main__search-results-output {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  text-align: center;
  border-radius: 0.75rem;
  margin-top: 1rem;
  padding: 1rem;
}

.output-header {
  margin-top: 0.75rem;
}

.output-text {
  margin-top: 0.75rem;
}

#mapid {
  height: 500px;
  z-index: 1;
}
